.App {
  text-align: center;
}

.issue-viewer-container {
  display: flex;
  text-align: left;
}

.column {
  flex: 50%;
}

.repository-button {
  width: 100%;
  border-width: 0 0 2px 0;
  height: 80px;
  padding: 20px;
  text-align: left;
}